p {

}

.nav {
   float: left;
   width: 250px;
}

.main {
   padding-left: 250px;
   width: 650px;
}

.content {
   background-image: url(http://www.nmgncp.com/tech-backgrounds-wallpaper.html)
}

body {
   border: 5px solid black;
}

h1 {
  float: center;
}
