.nav {
   height: 1000px;
   float: left;
   width: 250px;
}

.main {
   
   width: 650px;
   background-color: rgba(255, 255, 255, .25)
}

img {
   border: 2px black;
   -webkit-box-shadow: 18px 26px 20px 1px rgba(0,59,111,0.85);
   -moz-box-shadow: 18px 26px 20px 1px rgba(0,59,111,0.85);
   box-shadow: 18px 26px 20px 1px rgba(0,59,111,0.85); 
}

.content {
   
}

body {
   background-image: url("https://blogsimages.adobe.com/jkost/files/2015/01/01_10Pattern06.jpg");
   border: 5px solid black;
   padding-left: 10px;
}

.title {
   text-align: center;
   font-family: 'Source Code Pro', monospace;
}

h2 {
   font-family: 'Lobster', cursive;
}

h3, h4, h5 {
   font-family: 'Oleo Script', cursive;
}

p, li {
   font-family: 'Merriweather', serif;
}
