.nav {
   float: left;
   width: 250px;
}

.main {
   padding-left: 250px;
   width: 650px;
}

img {
   border: 2px black;
   -webkit-box-shadow: 18px 26px 20px 1px rgba(0,59,111,0.85);
   -moz-box-shadow: 18px 26px 20px 1px rgba(0,59,111,0.85);
   box-shadow: 18px 26px 20px 1px rgba(0,59,111,0.85); 
}

.content {
   
}

body {
   background-image: url("https://blogsimages.adobe.com/jkost/files/2015/01/01_10Pattern06.jpg");
   border: 5px solid black;
}

.title {
   text-align: center;
   font-family: 'Source Code Pro', monospace;
}

h2 {
   font-family: 'Lobster', cursive;
}

p {
   font-family: 'Merriweather', serif;
}
